---
import AboutContent from '../components/AboutContent.astro'
import Title from '../components/Title.astro'
---
<div class="about" id="about">
  <Title title="About Me" />
  <AboutContent />
</div>
<style>

</style>